{{page-title "Rents"}}
<div class="container">
    <div class="container-body">
        <TableHeader @title="Rents" @onAdd={{this.openModalToSave}}></TableHeader>
        <DTable @headers={{this.headers}} @onEdit={{this.openModalToEdit}} @onDelete={{this.deleteRent}} @dataList={{@model.rents}}></DTable>
    </div>
</div>
<RentModal @rent={{this.rent}} @opt={{this.opt}}></RentModal>
