<form {{on 'submit' this.onSubmit}}>
<div class="modal fade" id="admin-modal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Admin</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-group row m-3"> 
          <div class="col">
            <label for="admin-name">Name: </label>
          </div>
          <div class="col">
            <Input id="admin-name" name="admin-name" class="form-control" @value={{@admin.name}} required/>
          </div>
        </div>
        <div class="form-group row m-3"> 
          <div class="col">
            <label for="admin-id">Username: </label>
          </div>
          <div class="col">
            <Input id="admin-id" name="admin-id" class="form-control" @value={{@admin.username}} required/>
          </div>
        </div>
        
        <div class="form-group row m-3"> 
          <div class="col">
            <label for="admin-email">Email: </label>
          </div>
          <div class="col">
            <Input id="admin-email" @type="email" name="admin-email" class="form-control" @value={{@admin.email}} required/>
          </div>
        </div>
        {{#if this.isSave}}
            <div class="form-group row m-3"> 
                <div class="col">
                    <label for="admin-password">Password: </label>
                </div>
                <div class="col">
                    <Input id="admin-password" @type="password" name="admin-password" min="8" max="15" class="form-control" @value={{@admin.password}} required/>
                </div>
            </div>
        {{/if}}
        
        {{#if this.error}}
          <div class="alert alert-danger mt-3" role="alert">{{this.error}}</div>
        {{/if}}
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
        {{#if this.isSave}}
          <button type="submit" class="btn btn-outline-primary">Save</button>
        {{else}}
          <button type="submit" class="btn btn-outline-primary">Update</button>
        {{/if}}
      </div>
    </div>
  </div>
</div>
</form>